<!--Footer-->
<footer class="page-footer font-small indigo pt-0">
    <!--Footer Links-->
    <div class="container">
        <!--First row-->
        <div class="row">
            <!--First column-->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
                    <i class="fa fa-facebook fa-lg"> </i>
                    <i class="fa fa-twitter fa-lg"> </i>
                    <i class="fa fa-google-plus fa-lg"> </i>
                    <i class="fa fa-linkedin fa-lg"> </i>
                    <i class="fa fa-instagram fa-lg"> </i>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://intellectape.com/"> intellectape.com </a>
    </div>
</footer>
<!--/Footer-->