<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <img width="50px" height="50px" class="img-circle" src="https://pbs.twimg.com/profile_images/798021632812085248/7MbUQmeP_400x400.jpg"> -->
            <a class="navbar-brand" href="#">Aditya Bhardwaj</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="app-project">Projects</a></li>
            <li><a href="app-education">Education</a></li>
            <li><a href="#">Other Activities</a></li>
        </ul>
    </div>
</nav>