<h1>EDUCATION</h1>
<mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let tile of data" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        <div class="justify-content-center d-flex">
            <img [src]='tile.image' width="20%" height="20%" class='tile-image'>
            <h1>
                {{tile.title}}
            </h1>
            <h2>
                {{tile.detail}} - {{tile.major}}
            </h2>
        </div>
    </mat-grid-tile>
</mat-grid-list>